@tailwind base;
@tailwind components;
@tailwind utilities;

.text-shadow {
  text-shadow: 1px 0px 1px black, 0px 1px 1px black, -1px 0px 1px black, 0px -1px 1px black, 0 0 1px black;
}

.text-shadow-sm {
  text-shadow: 0px 0px 0.8px black, 0px 0px 0.8px black, 0px 0px 0.8px black, 0px 0px 0.8px black,
    0 0 0.8px black;
}

.hero {
  height: 800px;
}

.bg-image {
  @apply absolute h-full w-full -z-10;
  max-height: 800px;
}
html,
body {
  height: 100%;
}
@font-face {
  font-family: "rockridge";
  src: url("Fonts/rockridge-webfont.woff2");
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  background: #fff;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  background-image: url("../assets/backgound.svg");
  background-repeat: no-repeat;
  font-family: "rockridge";
}
a:hover {
  text-decoration: none;
}

a {
  text-align: none;
}
/* Globals type styling */

.App {
  height: 570px;
  width: 100%;
  margin-left: 9%;
}
.custom_row {
  display: flex;
  justify-content: center;
}

.slide img {
  width: 20rem;
  margin: 0 auto;
}

.slide {
  /* transform: scale(0.9); */
  transition: transform 300ms;
  opacity: 0.3;
}
.slide .test {
  display: none;
}

.activeSlide {
  width: 100vw !important;
  margin-left: -15vh;
  transform: scale(1.2);
  opacity: 1;
}

.activeSlide .test {
  display: block;
}
.arrow {
  position: absolute;
  cursor: pointer;
  z-index: 10;
}

.arrow svg {
  transition: color 300ms;
}

.arrow svg:hover {
  color: #68edff;
}

.next {
  right: 28%;
  top: 50%;
}

.prev {
  left: 15%;
  top: 50%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
label,
.btn,
a {
  font-family: "rockridge";
  color: #333;
}

/* NavBar */

#nav-bloc {
  margin-top: 30px;
}

.navbar {
  margin-bottom: 0;
}
.navbar-brand {
  font-size: 25px;
  font-weight: bold;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 600;
}
.navbar-brand img {
  width: auto;
  max-height: 40px;
  margin: -12px 5px 0 0;
}
.navbar-brand {
  padding: 15px 15px;
}
.navbar .nav {
  padding-top: 2px;
  margin-right: -16px;
  float: right;
}
.nav > li {
  float: left;
  margin-top: 4px;
  font-size: 16px;
}
.nav > li a:hover {
  background: transparent;
}
.navbar-toggle {
  margin: 12px;
  border: 0px;
}
.navbar-toggle:hover {
  background: transparent !important;
}
.navbar-toggle .icon-bar {
  background-color: rgba(0, 0, 0, 0.5);
  width: 26px;
}
.navbar-collapse.in {
  overflow-y: visible;
  float: left;
  width: 100%;
}
.navbar-1 {
  float: right;
}
.site-navigation:first-child {
  float: left;
}
.site-navigation:nth-child(2) {
  float: right;
}
.site-navigation:nth-child(2) a {
  color: #ccc;
  font-size: 85%;
  padding-right: 0px;
}

.site-navigation .nav > .active {
  color: #333;
}

/* Carousel */

.container {
  margin-top: 20px;
}

/* Carousel Styles */
.carousel-indicators .active {
  background-color: #fff;
}

.carousel-inner img {
  width: 100%;
  max-height: 460px;
}

.carousel-control {
  width: 0;
}

.carousel-control.left,
.carousel-control.right {
  opacity: 1;
  filter: alpha(opacity=100);
  background-image: none;
  background-repeat: no-repeat;
  text-shadow: none;
}

.carousel-control.left span {
  margin-left: 15px;
}

.carousel-control.right span {
  margin-right: 15px;
}

.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right,
.carousel-control .icon-prev,
.carousel-control .icon-next {
  position: absolute;
  top: 45%;
  z-index: 5;
  display: inline-block;
}

.carousel-control .glyphicon-chevron-left,
.carousel-control .icon-prev {
  left: 0;
}

.carousel-control .glyphicon-chevron-right,
.carousel-control .icon-next {
  right: 0;
}

/* .carousel-control.left span,
.carousel-control.right span {
} */

.carousel-control.left span:hover,
.carousel-control.right span:hover {
  opacity: 0.7;
  filter: alpha(opacity=70);
}

/* Carousel Header Styles */
.header-text {
  position: absolute;
  top: 30%;
  left: 1.8%;
  right: auto;
  width: 96.66666666666666%;
  color: #fff;
}

.header-text h2 {
  font-size: 40px;
  font-weight: bold;
}

.header-text h2 span {
  padding: 10px;
  color: #fff;
}

.btn-min-block {
  min-width: 170px;
  line-height: 26px;
}

.btn-theme {
  color: #fff;
  background-color: transparent;
  border-color: #fff;
  margin-right: 15px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

.btn-theme:hover {
  color: #fff;
  background-color: transparent;
  border-color: #fff;
}

/* Posts */

.post {
  background-color: #fff;
  overflow: hidden;
}
/* .post .content {
} */

.post .post-img-content img {
  position: relative;
}

.post .post-date {
  background-color: rgba(51, 51, 51, 0.58);
  position: absolute;
  bottom: 0px;
  width: 50%;
  color: #fff;
  padding: 10px 15px;
}
.news .post-img-content {
  width: 350px;
  height: 180px;
  position: relative;
}

.work .post-img-content {
  width: 450px;
  height: 230px;
  position: relative;
}
.feed .post-img-content {
  width: 260px;
  height: 130px;
  position: relative;
}

/* Mobile adjustments */

@media (max-width: 768px) {
  .bloc {
    text-align: center;
    -webkit-background-size: auto 200%;
    -moz-background-size: auto 200%;
    -o-background-size: auto 200%;
    background-size: auto 200%;
  }
  .navbar .nav {
    padding-top: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    float: none !important;
  }
  .nav > li {
    margin-top: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    background: rgba(0, 0, 0, 0.05);
    text-align: left;
    width: 100%;
  }
  .nav > li:hover {
    background: rgba(0, 0, 0, 0.08);
  }
  .navbar-collapse {
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .btn.pull-left,
  .btn.pull-right {
    float: none !important;
  }
  .bloc-xl,
  .bloc-lg {
    padding: 40px 0;
  }
  .a-block {
    text-align: center;
  }
}
.navbar-nav {
  flex-direction: row !important;
}
.nav-item {
  margin-left: 15px;
}
.section1-title {
  font-size: 40px;
}
.section1-subtitle {
  font-size: 14px;
  /* opacity: 0.4; */
}
.section1-form-text {
  font-size: 14px;
  opacity: 0.6;
}
.section-1-form-subtext {
  font-size: 14px;
}
/* .partners {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  background-color: #121927;
  height: 70px;
} */
.partners h2 {
  color: white;
}
.footer-outside {
  background-color: #121927;
}
.footer-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.languages {
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  list-style: none;
  opacity: 0.6;
}
.languages:active {
  opacity: 1;
}
.languages p {
  color: rgba(0, 0, 0, 0.4);
}
.languages .active {
  color: rgb(0, 0, 0);
}
.footer-info {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  /* there is something overwriting this */
  margin-top: 30px !important;
}
.footer-info-title {
  color: #fff;
  opacity: 0.6;
  margin-bottom: 24px;
}
.footer-info-ul {
  transform: translateX(30%);
  margin-top: 30px;
}
.footer-info-ul li {
  color: #fff;
  list-style: none;
  margin-bottom: 14px;
}
.footer-info-ul-white {
  transform: translateX(30%);
  margin-top: 30px;
}
.footer-info-ul-white li {
  color: rgb(0, 0, 0);
  list-style: none;
  margin-bottom: 14px;
}
.footer-info-title-white {
  color: black;
}
.partners-container {
  margin-top: 60px;
  margin-bottom: 60px;
}
.footer-outside {
  margin-top: 60px;
}
.footer-container {
  padding-top: 20px;
}
.footer-terms {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}
.footer-terms p {
  color: rgba(255, 255, 255, 0.6);
}
.footer--terms__mod {
  margin-left: 120px;
}
.footer--terms__terms__mod {
  margin-right: 60px;
}
.about-title {
  text-align: left;
  font-size: 32px;
  margin-bottom: 60px;
  margin-top: 120px;
}
.row-marginer {
  margin-top: 40px;
  margin-bottom: 40px;
}
.Nav__a {
  color: white;
  text-decoration: none;
}
a.nav-link {
  color: #121927ac;
  /* margin-left: 30px; */
}
.about--text__hmod {
  font-size: 24px;
  margin-left: 20%;
}
.about--text__ptmod {
  font-size: 14px;
  /* max-width: 30%; */
}
.about--text__ptmod2 {
  font-size: 14px;
  /* max-width: 70%; */
}
.header_btn {
  width: 120px;
  height: 30px;
  border: 1px solid #121927 !important;
  background-color: transparent !important;
  border-radius: 0px !important;
  text-align: center;
  padding: 0 !important;
  color: black !important;
}
.Language__select {
  background: transparent !important;
  border: none !important;
  font-size: 12px !important;
  width: 50px !important;
  padding: 0px !important;
}
.input__main {
  height: 40px;
  border: 0.5px solid #00000064 !important;
  margin-bottom: 10px;
  border-radius: 0px !important;
}
.btn-send {
  width: 100%;
  background-color: #fff !important;
  border: 1px solid black !important;
  color: #000 !important;
  border-radius: 0 !important;
  height: 40px;
  margin: 0 !important;
  /* max-width: 70%; */
}
.about--text__ptmod__mod {
  font-size: 14px;
  /* max-width: 70%; */
}
.form-check {
  margin-top: 20px;
}
.form-check-label {
  font-size: 16px;
}
#contact-form {
  margin-top: 20px;
}
.btn-send {
  margin-top: 20px;
}

.container-marginer {
  margin-top: 60px !important;
  margin-bottom: 60px !important;
}
.image__box {
  background-image: url("../assets/aboutbannerimg.svg");
  height: 300px;
}
.blog-image__content {
  padding: 30px;
}
.blog-image__content h2 {
  color: white;
  font-size: 18px;
  margin-bottom: 10px;
  text-transform: capitalize;
}
.blog-image__content p {
  /* ar mushaobs */
  margin-bottom: 10px;
  color: white;
  font-size: 12px;
}
.textarea__input {
  width: 100%;
  height: 100px;
  margin-bottom: 10px;
}
.contact__section {
  margin-top: 120px;
  margin-bottom: 120px;
}
.contact__info {
  height: auto;
  padding-top: 23px;
}
.contact__number h3 {
  font-size: 14px;
  color: #000000;
  opacity: 0.6;
}
.contact__number h5 {
  font-size: 14px;
  color: #000000;
}
.Nav__a {
  color: #000 !important;
}
.footer-terms-white {
  color: black;
}
.footer-splitter {
  border-top: 1px solid #00000040;
  padding-top: 10px;
}
.iframe_height {
  height: 1000px;
}
.custom__li {
  list-style-image: url("../assets/liststyle.svg");
}
.copyright {
  font-size: 14px;
  max-width: 70%;
}
.policy {
  font-size: 14px;
  opacity: 0.4;
}
.terms-condition {
  float: right;
}
.box {
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
}
.box > * {
  flex: 1 1 90px;
}
.infos--white > a {
  font-size: 14px;
  color: #000;
  text-decoration: none;
}
.cover {
  height: 300px;
  background-image: url("../assets/cover.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}
.Calculator {
  height: 548px;
  left: 693px;
  top: 1321px;

  background: #f5f5f5;
}
.container-borderer {
  /* padding: 30px; */
  margin: 0;
}
/* .container-borderer:last-child {
  border-bottom: 1px solid black;
} */
/* .project--location__mod {
  max-width: 50%;
} */
.project--see {
  display: block;
  border-bottom: 1px solid black;
  max-width: 50%;
  margin-bottom: 10px;
  line-height: 2rem;
}
/* .project--see img {
  margin-left: 2px;
} */
.form-row {
  margin-bottom: 60px;
}
.fuul__width span {
  width: 100% !important;
}
.fuul__width img {
  object-fit: cover;
}
.projects__image img {
  object-fit: cover;
  width: 100%;
}
.projects__image span {
  width: 100% !important;
}
.form__Height {
  height: 50px !important;
}
.sixty-row {
  margin: 60px 0 !important;
}
.hundredtwenty {
  margin: 120px 0;
}
.hundredtwenty-bot {
  margin-bottom: 120px;
}
.hundredtwenty-top {
  margin-top: 120px;
}
.sixty-row:last-child {
  margin-bottom: 60px !important;
}
.rooom-select-img {
  margin-top: 10%;
}
.room--image--model {
  margin-top: 20%;
}
.projects--title {
  max-width: 65%;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  margin-top: 30px;
}
.projects--title p {
  margin-top: 1rem;
  margin-bottom: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}
.projects--texts__basics {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;

  color: #121927;
}

.projects--texts__op {
  opacity: 0.6;
}
.projects--legend__top {
  margin-top: 100px;
}
.projects--legend__bot {
  margin-top: 30px;
}
.projects-floor-title {
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 50px;
}
.projects-floor-yard {
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 14px;

  color: #121927;
}
.projects-title-distance {
  margin: 120px 0;
}
.mb-60 {
  margin-bottom: 60px;
}
.mt-30 {
  margin-top: 30px;
}
.mb-30 {
  margin-bottom: 30px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-10 {
  margin-bottom: 10px;
}
.padding-0 {
  padding: 0 !important;
}
.mt-60 {
  padding-top: 60px;
}
.mt-40 {
  padding-top: 40px;
}
.mt-20 {
  padding-top: 20px;
}
.mt-10 {
  padding-top: 10px;
}

p {
  font-size: 12px;
}
h1 {
  font-size: 42;
}
h2 {
  font-size: 24px;
}
.nav-link {
  font-size: 14px;
}
.cursor {
  cursor: pointer;
}
.mt-120 {
  margin-top: 120px;
}
.mb-120 {
  margin-bottom: 120px;
}
.mb-80 {
  margin-bottom: 80px;
}

/* USE OF IMPORTANT */
.mt-80 {
  margin-top: 80px !important;
}
.special-margin-class {
  margin-top: 350px;
}
.special-margin-row {
  margin-top: 200px !important;
}

/* USE OF IMPORTANT  */

.custom_ol {
  list-style: url("../assets/line.svg") !important;
}
.full_width {
  object-fit: cover;
}

.test1313 {
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.projects--texts__create {
  margin: 0;
}
.projects--texts__date {
  margin-bottom: 60px;
}
.btn-test {
  padding: 6px;
  width: 100%;
}
.projects--floor-about-text {
  margin-top: 30px;
  margin-bottom: 60px;
}
.projects-floor-first-one {
  margin-top: 30px;
  margin-bottom: 10px;
}
.blog__1 {
  background-image: url("../assets/apart assets/blog/blog1.png");
}
.blog__2 {
  background-image: url("../assets/apart assets/blog/blog2.png");
}
.blog__3 {
  background-image: url("../assets/apart assets/blog/blog3.png");
}
.blog__4 {
  background-image: url("../assets/apart assets/blog/blog4.png");
}
.blog__5 {
  background-image: url("../assets/apart assets/blog/blog5.png");
}
.blog__6 {
  background-image: url("../assets/apart assets/blog/blog6.png");
}
.blog-single-blog {
  margin-bottom: 20px;
}
.line-test {
  position: relative;
}
.line-creator {
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  height: 133.4vh;
  position: absolute;
  margin-left: 30%;
  top: 26vh;
}
.projects-margin-fixer {
  padding-bottom: 30px;
  padding-top: 30px;
  height: 456px;
}
.parent_only_mobile {
  display: none;
}
.parent_only_desktop {
  display: block;
}
.desktop_Menu {
  margin-top: 50px;
  display: block;
}
.mobile_menu {
  display: none;
}
@media screen and (max-width: 568px) {
  .parent_only_mobile {
    display: block;
  }
  .mobile_menu {
    display: block;
  }
  .desktop_Menu {
    display: none;
  }
  .project--see {
    max-width: 70%;
  }
  .parent_only_desktop {
    display: none;
  }
  body {
    width: auto;
  }
  .section1-title {
    font-size: 25px;
  }
  .App {
    width: 100%;
    margin: 0;
  }
  .activeSlide {
    width: 100vw !important;
    opacity: 1;
    margin-left: -10vh;
  }
  .test {
    height: 30vh;
  }
  .arrow {
    display: none;
  }
  .additional__padding {
    padding-top: 150px;
  }
  .no_mobile {
    display: none;
  }
  .top-nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
    height: 50px;
    padding: 1em;
  }

  .menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .menu > li {
    margin: 0 1rem;
    overflow: hidden;
  }

  .menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #menu-toggle {
    display: none;
  }

  .menu-button,
  .menu-button::before,
  .menu-button::after {
    display: block;
    background-color: #000;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
  }

  .menu-button::before {
    content: "";
    margin-top: -8px;
  }

  .menu-button::after {
    content: "";
    margin-top: 8px;
  }

  #menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
  }

  #menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
  }

  #menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
  }

  @media (max-width: 700px) {
    .menu-button-container {
      display: flex;
    }

    .menu {
      position: absolute;
      top: 0;
      margin-top: 60px;
      left: 0;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: center;
      z-index: 9;
    }

    #menu-toggle ~ .menu li {
      height: 0;
      margin: 0;
      padding: 0;
      border: 0;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    #menu-toggle:checked ~ .menu li {
      border: 1px solid #333;
      height: 2.5em;
      padding: 0.5em;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    .menu > li {
      display: flex;
      justify-content: center;
      margin: 0;
      padding: 0.5em 0;
      width: 100%;
      color: white;
      background-color: #222;
    }

    .menu > li:not(:last-child) {
      border-bottom: 1px solid #444;
    }
  }
}

.form-switch .form-check-input {
  background-image: url("../assets/sun.svg") !important;
  border-radius: 0em !important;
  width: 60px !important;
  height: 30px;
  background-size: 30%;
  border: 1px solid black;
}
.form-switch .form-check-input:checked {
  background-color: #121927;
  border: 1px solid #32343982;
  background-image: url("../assets/moon.svg") !important;
  background-size: 30%;
  background-position-x: -5%;
}

.form-select {
  font-size: 14px !important;
  margin-top: 1rem;
}
.dark-mode {
  background-color: #121927;
  color: white;
}
.dark-mode p {
  color: white;
}
.dark-mode .nav-link {
  color: white;
}
.dark-mode .navbar-light .navbar-nav .nav-link {
  color: white;
}
.dark-mode .form-select {
  background-color: transparent;
  color: white;
}
.dark-mode .section1-title {
  color: white;
}
.dark-mode .navbar-brand {
  filter: brightness(1000);
}
.dark-mode .form-check-label {
  color: white;
}
.dark-mode .section-1-form-subtext {
  color: white;
}
.dark-mode .Taghi {
  filter: brightness(0) invert(1);
}
.dark-mode .form-check-input {
  background-color: transparent !important;
  border: 1px solid white;
}
.dark-mode .form-control {
  background-color: transparent !important;
  border: 1px solid white !important;
}
.dark-mode .btn-send {
  background-color: transparent !important;
  border: 1px solid white !important;
  color: white !important;
}
.dark-mode .partners_wite {
  filter: brightness(0) invert(1);
}
.dark-mode .about-title {
  color: white;
}
.dark-mode h3 {
  color: white;
}
.dark-mode h1 {
  color: white;
}
.dark-mode h2 {
  color: white;
}
.dark-mode h5 {
  color: white;
}
.dark-mode h4 {
  color: white;
}
.dark-mode .project--see {
  border-bottom: 1px solid white;
}
.dark-mode .arrow {
  filter: brightness(0) invert(1);
}
.dark-mode .btn-test {
  background-color: transparent !important;
  border: 1px solid white !important;
  color: white !important;
}
.dark-mode .navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
  color: white;
}
.border__left {
  border-left: 1px solid rgba(0, 0, 0, 0.2);
}
.dark-mode .border__left {
  border-left: 1px solid rgba(255, 255, 255, 0.2);
}
.dark-mode .test1313 {
  border: 1px solid rgba(255, 255, 255, 0.2);
}
.carousel-indicators {
  display: none !important;
}

flickity-enabled {
  position: relative;
}

.flickity-enabled:focus {
  outline: none;
}

.flickity-viewport {
  overflow: hidden;
  position: relative;
  height: 100%;
}

.flickity-slider {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* draggable */

.flickity-enabled.is-draggable {
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.flickity-enabled.is-draggable .flickity-viewport {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab;
}

.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

/* ---- flickity-button ---- */

.flickity-button {
  position: absolute;
  background: hsla(0, 0%, 100%, 0.75);
  border: none;
  color: #333;
}

.flickity-button:hover {
  background: white;
  cursor: pointer;
}

.flickity-button:focus {
  outline: none;
  box-shadow: 0 0 0 5px #19f;
}

.flickity-button:active {
  opacity: 0.6;
}

.flickity-button:disabled {
  opacity: 0.3;
  cursor: auto;
  /* prevent disabled button from capturing pointer up event. #716 */
  pointer-events: none;
}

.flickity-button-icon {
  fill: #333;
}

/* ---- previous/next buttons ---- */

.flickity-prev-next-button {
  top: 50%;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  /* vertically center */
  transform: translateY(-50%);
}

.flickity-prev-next-button.previous {
  left: 10px;
}
.flickity-prev-next-button.next {
  right: 10px;
}
/* right to left */
.flickity-rtl .flickity-prev-next-button.previous {
  left: auto;
  right: 10px;
}
.flickity-rtl .flickity-prev-next-button.next {
  right: auto;
  left: 10px;
}

.flickity-prev-next-button .flickity-button-icon {
  position: absolute;
  left: 20%;
  top: 20%;
  width: 60%;
  height: 60%;
}

/* ---- page dots ---- */

.flickity-page-dots {
  position: absolute;
  width: 100%;
  bottom: -25px;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  line-height: 1;
}

.flickity-rtl .flickity-page-dots {
  direction: rtl;
}

.flickity-page-dots .dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 8px;
  background: #333;
  border-radius: 50%;
  opacity: 0.25;
  cursor: pointer;
}

.flickity-page-dots .dot.is-selected {
  opacity: 1;
}
.flickity-prev-next-button {
  top: 30% !important;
}
.flickity-prev-next-button.previous {
  left: 15% !important;
}
.flickity-prev-next-button.next {
  right: 15% !important;
}
.read__more {
  display: block;
  border-bottom: 1px solid black;
  margin-bottom: 10px;
  line-height: 2rem;
}
.flickity-page-dots {
  display: none;
}
.footer-inside-white {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 60px;
}
.dark-mode .footer-inside-black {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  padding-bottom: 60px;
}
.navbar-brand {
  padding: 0;
}
.home--section__texts {
  font-size: 16px;
}
.custom__width {
  width: 100vh !important;
}
#product_viewer {
  max-width: 100% !important;
  margin: 0 !important;
}
.iframe {
  width: 100%;
}
.home--get-contacted {
  margin-top: 20px;
}
.form-check-inline {
  margin-right: 0 !important;
}
.goback {
  font-size: 16px;
  margin-top: 120px !important;
}
.single-blog-texts p {
  font-size: 16px;
}
.investing-title {
  font-size: 34px;
}
.investing-title_subtext {
  font-size: 16px;
}
.investing-services {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  counter-reset: css-counter 0;
}
.investing-services li {
  /* all: unset; */
  margin: 0 34px 0 0;
  font-size: 24px;
  counter-increment: css-counter 1;
  position: relative;
}
.investing-services li::before {
  content: counter(css-counter);
  font-size: 16px;
  position: absolute;
  top: -40%;
}
.investing-goal {
  text-align: center;
  font-size: 26px;
}
.basic-texts-14 {
  font-size: 14px;
}
/* .projects-floor-selector-hr {
  border-top: 1px solid #121927;
} */

.projects-floor-goback {
  margin-top: 120px !important;
}
.form-text-area {
  border: 0.5px solid #00000064 !important;
}
.lang__drop {
  padding: 0 !important;
  margin: 0 !important;
  border: none !important;
}
.navbar13 {
  flex-basis: none;
  align-items: center !important;
  justify-content: center !important;
}
.navbar13 li {
  /* white-space: nowrap; */
}
.ul13 > li {
  white-space: nowrap;
  /* margin: 0 10px; */
}
.banner_img{
  
}
.nav__container{
  background-color: white;
  width: 100%;
  position: fixed;
  z-index: 99;
}